@font-face {
   font-family: Chango;
   src: url('https://fonts.googleapis.com/css?family=Chango');
}

.App {
  text-align: center;

  /* Flex CSS */
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
}

